<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.miscontactos">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="mismascotas.MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="mismascotas.Ultimas"
            android:parentActivityName="mismascotas.MainActivity">

            <!-- soporte para versionas anteriores 4 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mismascotas.MainActivity"></meta-data>
        </activity>

        <activity android:name="mismascotas.Contacto"
            android:parentActivityName="mismascotas.Contacto">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mismascotas.MainActivity" ></meta-data>
        </activity>

        <activity android:name="mismascotas.Bio"
        android:parentActivityName="mismascotas.Bio">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mismascotas.MainActivity"></meta-data>
        </activity>
    </application>

</manifest>